.label{
    -fx-alignment: center;
}
.text{
    -fx-font-smoothing-type: gray;
}
.root{
    -fx-background-color: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
    -fx-background-radius: 40 40 40 40;
    -fx-border-radius: 40 40 40 40;
}
.button{
    -fx-background-color: rgb(63, 63, 63);
    -fx-color: black;
    -fx-padding: 5px 15px;
    -fx-text-align: center;
    -fx-text-decoration: none;
    -fx-font-family: "Arial Rounded MT Bold";
    -fx-display: inline-block;
    -fx-font-size: 15px;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-color: linear-gradient(to right, #6e45e2 0%, #88d3ce 100%);
    -fx-transition: 0.4s;
}
.button: hover{
    -fx-background-color: #e3e3e3;
    -fx-color: white;
}